/* css for ChoicePage */

.modal-page {
    /* width: 100%; */
    /* height: 50vh; */
    /* top: 30px !important;
    bottom: 44px !important; */
    margin: 0px;
    padding: 0px;
}

.modal-page .ant-modal-close {
    left: 16px;
    right: auto;
}

.modal-page .ant-drawer-content-wrapper {
    height: calc(100%-74px) !important;
    top: 30px !important;
    bottom: 44px !important;
}

.modal-page-index-page {
    height: 100%;
    width: 100%;
    /* max-width: 90vw; */
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px;
}

/* .modal-page-index-page-ios {
    height: 75vh;
    width: 100%;
    max-width: 95vw;
    overflow-y: auto;
    padding: 0px;
} */