/* abc */
.landing-page {
    height: 100%;
    background-color: lightblue;
}

.landing-page-header-group {
    height: 15%;
}

.landing-page-welcome-group {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: beige;
}

.landing-page-welcome-title-1 {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: darkolivegreen;
    text-align: center;
}

.landing-page-welcome-title-2 {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    color: darkolivegreen;
}

.landing-page-welcome-store-name {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
    color: darkolivegreen;
}

.landing-page-banner {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 25%;
    /* height: 50%; */
    overflow: hidden;
    margin: 0px;
}

.landing-page-footer-group {
    position: absolute;
    width: calc(100% - 10px);
    bottom: 46px;
    margin: 5px;
    background-color: lightsalmon;
    border-radius: 5px;
    border: '0px';
    padding: 10px;
}

.landing-page-footer-title {
    width: 100%;
    position: relative;
    bottom: 0px;
    font-weight: bold;
    padding: 5px;
}

.landing-page-footer-address {
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 5px;
}

.landing-page-footer-phone {
    width: 100%;
    position: relative;
    bottom: 0px;
    padding: 5px;
}