/* css for Order */

/* CustomerList */
.customer-list-page {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: hidden;
}

.customer-list-page-item {
    margin-bottom: 0px;
}

/* CustomerView */
.customer-view-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.customer-view-page-card {
    margin: 4px;
    /* height: 100%; */
    flex-grow: 1;
}

.customer-view-page-description {
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    font-weight: bold;
}

.customer-view-page-item {
    display: flex;
    margin: 10px;
    padding-bottom: 10px;
}

.customer-view-page-item-title {
    width: 80px;
    color: gray;
    /* font-size: 12px; */
    padding-top: 1px;
}

.customer-view-page-item-value {
    flex: 1
}


/* CustomerEdit */
.customer-edit-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* CustomerCard */
.customer-card {
    display: flex;
    margin: 2px;
    height: 120px;
    width: 100%;
    padding: 0px;
}

.customer-card .ant-card-body {
    padding: 0;
    display: flex;
    flex-direction: row;
    width: calc(100% - 8px);
    align-items: center;
    margin: 0px;
}

.customer-card-avatar {
    margin: 10px;
    width: 150px;
}

.customer-card-content {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    height: 100%;
}

.customer-card-content-comment {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer-card-button-choice {
    position: absolute;
    top: 30px;
    right: 5px;
    height: 32px;
    margin: 0px;
}

.customer-card-button-choice-hidden {
    display: none;
    height: 50px;
    margin: 0px;
}