/* css for Order */

.list-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.view-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.edit-page {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}