/* css for Order */

.product-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.product-view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.product-edit {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.product-card {
    margin: 2px;
    height: 325px;
}

.product-card .ant-card-body {
    padding: 0px;
}