/* css for Order */

.product-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.product-view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.product-edit {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.product-card {
    margin: 2px;
    height: 325px;
}

.product-card .ant-card-body {
    padding: 0px;
}

.product-view-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin: 0px;
}

.product-view-price-bar {
    display: flex;
    width: 100%;
    min-height: 50px;
    background-color: azure;
    align-items: center;
}

.product-view-price-bar-value {
    display: flex;
    text-align: center;
    margin-left: 20px;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    color: orange;
}

.product-view-description {
    margin-left: 20px;
    margin-top: 10px;
}

.product-view-uom {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-view-list-uoms {
    margin-left: 20px;
}

.product-view-long-description {
    margin-left: 20px;
    margin-top: 10p;
}

.product-view-long-description-text {
    margin-top: 10p;
}