/* css for Order */

/* 
ObjectList
ObjectView
ObjectEdit
PaymentEdit
OrderStateTag
ObjectCard
ObjectPrint
ObjectInventory
ObjectListSettings 
*/


/* ObjectInventory */

/* ObjectList */
.cash-receipt-list {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* ObjectView */
.cash-receipt-view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.cash-receipt-view-title {
    font-weight: bold;
}

.cash-receipt-view-divider {
    border-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
}

.cash-receipt-view-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
}

.cash-receipt-view-item-title {
    min-width: 100;
}

/* ObjectPrint */
.cash-receipt-print {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/* ObjectEdit */
.cash-receipt-edit {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.cash-receipt-edit-header {
    margin: 5px;
}

.cash-receipt-edit-title {
    font-weight: bold;
}

.cash-receipt-edit-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cash-receipt-edit-item-customer {
    width: calc(100% - 50px);
    max-width: 700px;
    margin-bottom: 12px;
}

.cash-receipt-edit-item-visible {
    display: block;
}

.cash-receipt-edit-item-hidden {
    display: none;
}

/* .cash-receipt-edit-item-order-state {
    width: 200px;
} */

.cash-receipt-edit-item-label {
    max-width: 700px;
    margin-bottom: 12px;
}

.cash-receipt-edit-divider {
    border-color: lightgray;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* ObjectInventory */
.cash-receipt-inventory-edit {
    overflow-y: auto;
    margin: 0px;
}

.cash-receipt-inventory-edit-card {
    margin: 0px;
    height: 122px;
}

.cash-receipt-inventory-edit-card .ant-card-body {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px !important;
}

.cash-receipt-inventory-edit-card-picture {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.cash-receipt-inventory-edit-card-picture-image {
    object-fit: cover,
}

.cash-receipt-inventory-edit-card-info {
    padding-left: 15px;
    padding-right: 20px;
    flex-grow: 1;
}

.cash-receipt-inventory-edit-card-info-description {
    font-weight: bold;
}

.cash-receipt-inventory-edit-amount {
    display: flex;
    justify-content: space-between;
}

.cash-receipt-inventory-edit-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

@media (max-width:575px) {
    .cash-receipt-inventory-edit-quantity-title-long {
        display: none;
    }
}

@media (min-width:576px) {
    .cash-receipt-inventory-edit-quantity-title-short {
        display: none;
        margin-left: 6px;
    }
}

.cash-receipt-inventory-edit-quantity-title-long {
    min-width: 1px;
    margin-right: 5px;
}

.cash-receipt-inventory-edit-quantity-title-short {
    min-width: 1px;
    margin-right: 5px;
}

.cash-receipt-inventory-edit-quantity-group {
    display: flex;
}

.product-row-edit-uom {
    width: 100px;
    margin-bottom: 0px;
}

.cash-receipt-inventory-edit-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}


/* SupplierInvoiceInventoryView */
.cash-receipt-inventory-view {
    overflow-y: auto;
    margin: 0px;
    height: 100px;
}

/* .cash-receipt-inventory-view-card {
    margin: 0px;
    height: 122px;
} */

.cash-receipt-inventory-view .ant-card-body {
    padding: 0px;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px !important;
}

.cash-receipt-inventory-view-card-picture {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.cash-receipt-inventory-view-card-picture-image {
    object-fit: cover,
}

.cash-receipt-inventory-view-card-info {
    padding-left: 15px;
    padding-right: 20px;
    flex-grow: 1;
}

.cash-receipt-inventory-view-card-info-description {
    font-weight: bold;
}

.cash-receipt-inventory-view-amount {
    display: flex;
    justify-content: space-between;
}

.cash-receipt-inventory-view-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

@media (max-width:575px) {
    .cash-receipt-inventory-view-quantity-title-long {
        display: none;
    }
}

@media (min-width:576px) {
    .cash-receipt-inventory-view-quantity-title-short {
        display: none;
        margin-left: 6px;
    }
}

.cash-receipt-inventory-view-quantity-title-long {
    min-width: 1px;
    margin-right: 5px;
}

.cash-receipt-inventory-view-quantity-title-short {
    min-width: 1px;
    margin-right: 5px;
}

.cash-receipt-inventory-view-quantity-group {
    display: flex;
}

.product-row-edit-uom {
    width: 100px;
    margin-bottom: 0px;
}

.cash-receipt-inventory-view-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
}

/* Card */
.cash-receipt-card {
    /* padding: 10px; */
    margin: 2px;
    height: 200px;
    width: 100%;
    padding: 0px;
}

.cash-receipt-card .ant-card-body {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 8px);
    align-items: start;
    margin: 0px;
}

.cash-receipt-card-avatar {
    margin: 10px;
    width: 150px;
}

.cash-receipt-card-content {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    height: 100%;
}

.cash-receipt-card-title {
    text-align: left;
    font-weight: bold;
}

.cash-receipt-card-divider {
    border-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px
}

.cash-receipt-card-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cash-receipt-card-choice-button {
    padding: 0px;
}