/* css for RelatedPage */

.modal-page {
    margin: 0px;
    padding: 0px;
}

.modal-page .ant-drawer-body {
    padding: 0px;
}

.modal-page-list {
    padding: 0px;
}

.modal-page-list-item {
    padding: 10px 30px 10px 30px !important;
}