/* css for Order */

/* StructuralUnitList */
.structural-unit-list {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    overflow-x: hidden;
}

.structural-unit-list-item {
    margin-bottom: 0px;
}

/* StructuralUnitView */
.structural-unit-view {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.structural-unit-view-card {
    margin: 4px;
    /* height: 100%; */
    flex-grow: 1;
}

.structural-unit-view-description {
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    font-weight: bold;
}

.structural-unit-view-item {
    display: flex;
    margin: 10px;
    padding-bottom: 10px;
}

.structural-unit-view-item-title {
    width: 80px;
    color: gray;
    /* font-size: 12px; */
    padding-top: 1px;
}

.structural-unit-view-item-value {
    flex: 1
}


/* StructuralUnitEdit */
.structural-unit-edit {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


/* StructuralUnitCard */
.structural-unit-item-card {
    display: flex;
    margin: 2px;
    height: 140px;
    width: 100%;
    padding: 0px;
}

.structural-unit-item-card .structural-unit-ant-card-body {
    padding: 10px;
    display: flex;
    width: calc(100% - 8px);
    align-items: start;
    margin: 0px;
}

.structural-unit-item-card-avatar {
    margin: 10px;
    width: 150px;
}

.structural-unit-item-card-content {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 1;
    height: 100%;
}

.structural-unit-item-card-content-comment {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.structural-unit-item-card-button-choice {
    position: absolute;
    top: 30px;
    right: 5px;
    height: 32px;
    margin: 0px;
}

.structural-unit-item-card-button-choice-hidden {
    display: none;
    height: 50px;
    margin: 0px;
}