/* CSS for components */

.avatar-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-bottom: 10px;
    background-color: white;
}

.avatar {
    margin-top: 30px;
    margin-bottom: 20px;
}

.avatar-button-group {
    display: flex
}

.avatar-button-group:empty {
    display: none
}

.avatar-button-upload {
    margin-left: 00px
}

.avatar-button-capture {
    margin-left: 10px
}